/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../fonts/montserrat-v14-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/montserrat-v14-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* kaushan-script-regular - latin */
@font-face {
  font-family: "Kaushan Script";
  font-style: normal;
  font-weight: 400;
  src: local("Kaushan Script"), local("KaushanScript-Regular"),
    url("../fonts/kaushan-script-v8-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/kaushan-script-v8-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-300italic - latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  src: local("Roboto Light Italic"), local("Roboto-LightItalic"),
    url("../fonts/roboto-v20-latin-300italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-v20-latin-300italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"),
    url("../fonts/roboto-v20-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-v20-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  --main-fonts: "Montserrat";
  --two-fonts: "Roboto";
  --three-fonts: "Kaushan Script";
  --header-color: #ffffff;
  --services-icon-color: #95e1d3;
  --main-color: #333333;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: var(--main-fonts);
}

.visually-hidden {
  /* Удаляем элемент из потока документа */
  position: absolute;
  /* Временное решение для неверно произносимого, размазанного текста */
  white-space: nowrap;
  /* Устанавливаем минимально возможный размер (некоторые скринридеры игнорируют элементы с нулевой высотой и шириной) */
  width: 1px;
  height: 1px;
  /* Скрываем вылезающий за границы контент */
  overflow: hidden;
  /* Сбрасываем любые свойства, которые могут повлиять на размер элемента */
  border: 0;
  padding: 0;
  /* Вырезаем ту часть контента, которая должна отображаться. */
  /* Устаревшее свойство clip для старых браузеров */
  clip: rect(0 0 0 0);
  /* clip-path для новых браузеров. inset(50%) определяет область вставки, которая позволит контенту исчезнуть.  */
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  /* Похоже, никто до конца не понимает, почему тут margin: -1px. Кроме того, это приводит к проблемам (читай: https://github.com/h5bp/html5-boilerplate/issues/1985). */
  margin: -1px;
}

.link {
  text-decoration: none;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header {
  background-image: -o-linear-gradient(
      left,
      rgba(252, 227, 138, 0.9) 0%,
      rgba(243, 129, 129, 0.9) 100%
    ),
    url(../images/eagle.jpg);
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(252, 227, 138, 0.9)),
      to(rgba(243, 129, 129, 0.9))
    ),
    url(../images/eagle.jpg);
  background-image: linear-gradient(
      90deg,
      rgba(252, 227, 138, 0.9) 0%,
      rgba(243, 129, 129, 0.9) 100%
    ),
    url(../images/eagle.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  padding-top: 24px;
  padding-bottom: 227px;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* SITE NAVIGATION */
.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  margin-bottom: 155px;
}

.logo {
  font-size: 30px;
  color: var(--header-color);
  font-weight: bold;
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.navigation-list__item:after {
  visibility: hidden;
  opacity: 0;
  display: block;
  content: "";
  background-color: #fce38a;
  width: 0;
  height: 3px;
  margin-top: 10px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.navigation-list__item:hover:after,
.navigation-list__item:focus:after {
  visibility: visible;
  opacity: 1;
  width: 100%;
}

.navigation-list__item:hover .navigation-list__item-link,
.navigation-list__item:focus .navigation-list__item-link {
  color: #fce38a;
}

.navigation-list__item:not(:last-child) {
  margin-right: 58px;
}

.navigation-list__item-link {
  font-size: 14px;
  font-weight: 400;
  font-family: var(--main-fonts);
  color: var(--header-color);
  text-transform: uppercase;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

/* Control */
.control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 52px;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.control__item {
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.control__item:not(:last-child) {
  margin-right: 42px;
}

.control__item:hover .control__svg,
.control__item:focus .control__svg {
  fill: #fce38a;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.control__item-link {
  width: 18px;
  height: 18px;
  vertical-align: middle;
}

.control__svg {
  width: 18px;
  height: 18px;
  fill: var(--header-color);
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

/* BANNER */
.banner {
  text-align: center;
}

.title {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  font-family: var(--three-fonts);
}

.title__span {
  display: block;
  font-family: var(--main-fonts);
  font-weight: bold;
  text-transform: uppercase;
}

.banner__title {
  font-size: 72px;
  color: var(--header-color);
  margin-bottom: 116px;
}

.banner__title_span {
  font-size: 150px;
  padding-top: 39px;
  line-height: 0.9;
}

.btn {
  font-size: 14px;
  color: var(--header-color);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  border: 3px solid var(--header-color);
  background-color: rgba(0, 0, 0, 0);
  width: 164px;
  height: 44px;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.btn:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

/* Servises */

/* TITLE */
.services {
  padding-top: 44px;
  padding-bottom: 50px;
}

.section__title {
  color: var(--main-color);
  font-size: 24px;
}

.section__title::after {
  content: "";
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 36px;
  width: 60px;
  height: 3px;
  background-color: #f38181;
}

.section__title_br {
  font-size: 30px;
  padding-top: 15px;
}

.services__title {
  margin-bottom: 64px;
}

/* LIST */
.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.services-list__item {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 382px;
  flex: 0 0 382px;
  padding-left: 80px;
}

.services-list__item:not(:nth-last-of-type(-n + 3)) {
  margin-bottom: 96px;
}

.services-list__item:hover .services-list__svg {
  fill: #fce38a;
  -webkit-transform: rotate3d(2, 1, 3, -10deg);
  transform: rotate3d(2, 1, 3, -10deg);
}

.services-list__svg {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 0;
  left: 22px;
  fill: var(--services-icon-color);
}

.servises__name {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  color: var(--main-color);
  margin-bottom: 10px;
}

.description {
  font-family: var(--two-fonts);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  color: #999999;
}

/* TEAM  */

/* Title */
.team {
  padding-top: 38px;
  padding-bottom: 85px;
}

.team__description {
  max-width: 980px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 88px;
}

.team__title {
  margin-bottom: 41px;
}

/* Team list */

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.team-list__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 380px;
  flex: 0 0 380px;
  text-align: center;
}

.team-list__item:hover .overlay,
.team-list__item:focus .overlay {
  visibility: visible;
  opacity: 1;
}

.team-list__item:hover .team-list__wrapper,
.team-list__item:focus .team-list__wrapper {
  -webkit-transform: translate(-10px, -10px);
  -ms-transform: translate(-10px, -10px);
  transform: translate(-10px, -10px);
  -webkit-box-shadow: 10px 10px 0 #95e1d3;
  box-shadow: 10px 10px 0 #95e1d3;
}

.team-list__wrapper {
  margin-bottom: 29px;
  position: relative;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.team__name {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 6px;
}

.team__name-description {
  color: #999999;
  font-weight: 300;
  font-style: italic;
}

/* OVERLAY */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-image: -o-linear-gradient(
    bottom,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(252, 227, 138, 0.9)),
    to(rgba(243, 129, 129, 0.9))
  );
  background-image: linear-gradient(
    to top,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.list-social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 224px;
  flex: 0 0 224px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.list-social-icon__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 55px;
  height: 56px;
  background-color: #fce38a;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.list-social-icon__item:hover,
.list-social-icon__item:focus {
  width: 56px;
  background-color: #f38181;
}

.list-social-icon__item:hover .overlay-svg,
.list-social-icon__item:focus .overlay-svg {
  fill: #fff;
}

.overlay-svg {
  width: 32px;
  height: 32px;
  fill: #f38181;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* FOOTER */
.footer {
  padding-bottom: 26px;
}

.footer:before {
  content: "";
  display: block;
  background-color: #e7e7e7;
  width: 100%;
  height: 1px;
  margin-bottom: 11px;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__title {
  text-align: center;
  font-size: 14px;
}

.footer__link {
  color: #f38181;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-form__input {
  min-width: 228px;
  height: 40px;
  padding-left: 12px;
  border: 1px solid #e7e7e7;
}

.contact-form__input::-webkit-input-placeholder {
  color: #cccccc;
  font-family: var(--two-fonts);
  font-size: 15px;
  font-style: italic;
  line-height: 24px;
  width: 40px;
}

.contact-form__input::-moz-placeholder {
  color: #cccccc;
  font-family: var(--two-fonts);
  font-size: 15px;
  font-style: italic;
  line-height: 24px;
  width: 40px;
}

.contact-form__input:-ms-input-placeholder {
  color: #cccccc;
  font-family: var(--two-fonts);
  font-size: 15px;
  font-style: italic;
  line-height: 24px;
  width: 40px;
}

.contact-form__input::-ms-input-placeholder {
  color: #cccccc;
  font-family: var(--two-fonts);
  font-size: 15px;
  font-style: italic;
  line-height: 24px;
  width: 40px;
}

.contact-form__input::placeholder {
  color: #cccccc;
  font-family: var(--two-fonts);
  font-size: 15px;
  font-style: italic;
  line-height: 24px;
  width: 40px;
}

.form-btn {
  color: var(--header-color);
  border: none;
  background-color: #95e1d3;
  text-transform: uppercase;
  min-width: 150px;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
}

@media (-webkit-min-device-pixel-ratio: 2),
  (-o-min-device-pixel-ratio: 2/1),
  (min-resolution: 192dpi) {
  .header {
    background-image: -o-linear-gradient(
        left,
        rgba(252, 227, 138, 0.9) 0%,
        rgba(243, 129, 129, 0.9) 100%
      ),
      url(../images/eagle@2x.jpg);
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(rgba(252, 227, 138, 0.9)),
        to(rgba(243, 129, 129, 0.9))
      ),
      url(../images/eagle@2x.jpg);
    background-image: linear-gradient(
        90deg,
        rgba(252, 227, 138, 0.9) 0%,
        rgba(243, 129, 129, 0.9) 100%
      ),
      url(../images/eagle@2x.jpg);
  }
}
